@model UserModel
@{
    ViewData["Title"] = "Profile";
    string oldP = "";
    string newP = "";
}

<div class="profile-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1>Profile settings</h1>
                <hr />
            </div>
            <div class="text-center" style="margin-top:15px;">
                <h3><b>Account</b></h3>
                <hr style="width:50%;" />
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center" style="margin-top:10px;">
                    <h5>Login</h5>
                    <p>@Model.Login</p>
                    <h5>Creation Time</h5>
                    <p>@Model.AccountCreationTime</p>
                    <h5>Email</h5>
                    <p>@Model.Email</p>
                    <h5>Password</h5>
                    <input id="pass_btn" class="btn btn-primary" type="button" value="change" onclick="showPasswordForm()" />
                    <form id="pass_form" asp-action="ChangePassword" style="display:none;">
                        <div class="form-group">
                            <input asp-for="Id" hidden />
                        </div>
                        <div class="form-group">
                            <label>Old</label>
                            <input asp-for="@oldP" type="password" class="form-control" autocomplete="off" style="width:100%;" maxlength="256">
                        </div>
                        <div class="form-group">
                            <label>New</label>
                            <input asp-for="@newP" type="password" class="form-control" autocomplete="off" style="width:100%;" maxlength="256" />
                        </div>
                        <div class="payment-buttons">
                            <input class="btn btn-primary" type="button" value="Hide" onclick="showPasswordForm()" />
                            <input class="btn btn-primary" type="submit" value="OK" />
                        </div>
                    </form>
                    <p class="text-danger">@ViewBag.Message</p>
                </div>
            </div>
            <div class="text-center" style="margin-top:15px;">
                <h3><b>Subscription</b></h3>
                <hr style="width:50%;" />
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    @if (Model.Subscription)
                    {
                        <p class="text-success"><b>Subscription purchased!</b></p>
                    }
                    else
                    {
                        @if (Model.Orders.Count() != 0)
                        {
                            <form>
                                <p class="text-danger"><b>No Subscription</b></p>
                                <input class="btn btn-primary" value="Buy" type="submit" disabled />
                            </form>
                            <p class="text-danger">It looks like you have a transaction that we haven't checked</p>
                            <a asp-action="Result" asp-controller="Payment"><b>Click here</b></a>
                        }
                        else
                        {
                            <form>
                                <p class="text-danger"><b>No Subscription</b></p>
                                <input class="btn btn-primary" value="Buy" type="submit" asp-controller="Payment" asp-action="Index" />
                            </form>
                        }
                    }
                </div>
            </div>
            <div class="text-center" style="margin-top:15px;">
                <h3><b>Device</b></h3>
                <hr style="width:50%;" />
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <p> Your device is <text id="trust_text"></text></p>
                    <input class="btn btn-primary" type="button" value="change" onclick="changeTrustState()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeTrustText() {
        var trustText = document.getElementById('trust_text');

        if (localStorage.getItem('@Model.Id' + '_JustLearnIT')) {
            trustText.innerHTML = "trusted";
            trustText.style.color = "green";
        }
        else {
            trustText.innerHTML = "not trusted";
            trustText.style.color = "red";
        }
    }

    function showPasswordForm() {
        var formStyle = document.getElementById('pass_form').style;
        var btnStyle = document.getElementById('pass_btn').style;

        if (formStyle.display == "none") {
            formStyle.display = "inline-block";
            btnStyle.display = "none";
        }
        else {
            formStyle.display = "none";
            btnStyle.display = "inline-block";
        }
    }

    function changeTrustState() {
        if (localStorage.getItem('@Model.Id' + '_JustLearnIT')) {
            localStorage.removeItem('@Model.Id' + '_JustLearnIT');
        }
        else {
            localStorage.setItem('@Model.Id' + '_JustLearnIT', "TrustedMember");
        }

        changeTrustText();
    }

    changeTrustText();
</script>
